<ion-app>

  <!-- Menú lateral -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar class="toolbar-color">
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header >

    <ion-content>
      <ion-item color="white" lines="full" [routerLink]="['/cuenta']">
        <ion-icon color="white" name="person" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Cuenta</ion-label>
      </ion-item>

      <ion-item color="white" lines="full" [routerLink]="['/configuracion']">
        <ion-icon color="white"  name="construct" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Configuración</ion-label>
      </ion-item>

      <ion-item color="white" lines="full" [routerLink]="['/leer-qr']">
        <ion-icon color="white" name="qr-code" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Leer QR</ion-label>
      </ion-item>

      <ion-item color="white" lines="full"> 
        <ion-icon color="white" name="log-out" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <!-- Mostrar la temperatura solo si existe `weatherData.current_weather` -->
        <ion-title color="light">
          <strong>Temperatura Actual:</strong> 
          <ng-container *ngIf="weatherData?.current_weather">
            {{ weatherData.current_weather.temperature }} °C
          </ng-container>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Mensaje de bienvenida -->
      <ion-item lines="none">
        {{ welcomeMessage }}
      </ion-item>
    </ion-content>
  </div>

</ion-app>
