<ion-app>

  <!-- Menú lateral -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar class="toolbar-color">
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header >

    <ion-content>
      <ion-item color="white" lines="full" [routerLink]="['/cuenta']">
        <ion-icon color="white" name="person" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Cuenta</ion-label>
      </ion-item>

      <ion-item color="white" lines="full" [routerLink]="['/configuracion']">
        <ion-icon color="white"  name="construct" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Configuración</ion-label>
      </ion-item>

      <ion-item color="white" lines="full" [routerLink]="['/leer-qr']">
        <ion-icon color="white" name="qr-code" slot="start"></ion-icon>
        <ion-label class="toolbar-color">Leer QR</ion-label>
      </ion-item>

      <ion-item color="white" lines="full"> 
        <ion-icon color="white" name="log-out" slot="start"></ion-icon>
        <ion-label class="toolbar-color" (click)="logout()">Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <!-- Mostrar la temperatura solo si existe `weatherData.current_weather` -->
        <ion-title color="light" style="font-size: 14px;">
          <ion-label>Temperatura Actual:</ion-label> 
          <ng-container *ngIf="weatherData?.current_weather">
            {{ weatherData.current_weather.temperature }} °C
          </ng-container>
        </ion-title>
      </ion-toolbar>    
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Mensaje de bienvenida -->
      <ion-item lines="none">
        <strong>{{ welcomeMessage }}</strong>
      </ion-item>
      
<!-- carrusel de imagenes -->
      <swiper-container
      autoplay="true"
      loop="true"
      delay="3000" 
      speed="1000"> <!-- delay = 3000 milisegundos = 3 segundos -->
                    <!-- speed = 1000 milisegundos = 1 segundo para la transición -->
      <swiper-slide>
        <a href="https://www.duoc.cl/nosotros/sobre-duoc/">
        <img src="assets/images/Sobre-DuocUC.png">
        <div class="slide-text">
          <strong>¿Quieres saber más sobre la institucion?</strong>
        </div>
      </a>

      </swiper-slide> 

      <swiper-slide>
        <a href="https://www.youtube.com/watch?v=olh3G2gZ2kU">
        <img src="assets/images/Solicitud-en-linea.png">
        <div class="slide-text">
          <strong>¿Si necesitas crear una solicitud en linea?, este video puede ayudarte</strong>
        </div>
      </a>
      </swiper-slide>
      </swiper-container>

      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title><strong>Hora Actual</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <strong>{{ currentTime }}</strong>
        </ion-card-content>
      </ion-card>
      
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title><strong>Frase del Día</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <em>"El éxito es la suma de pequeños esfuerzos repetidos día tras día."</em>
        </ion-card-content>
      </ion-card>

      
    </ion-content>
  </div>

</ion-app>
