ion-menu::part(backdrop) {
    background-color: #f9ae43;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #f9ae43;
  }

.toolbar-color{
    color: #fdfdfd;
    --ion-background-color:#f9ae43;
}

.inbox-text{
  color: #fdfdfd;
}

.slide-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Asegura que el título sea legible y bien posicionado */
.title-label {
  font-size: 1.2rem; /* Puedes ajustar el tamaño de la fuente */
  font-weight: bold;
}

/* Ajuste de tamaño para la temperatura */
.temperature-text {
  font-size: 1.5rem; /* Tamaño de fuente grande para la temperatura */
  color: #ff6b6b; /* Un color agradable para resaltar la temperatura */
}

/* Hacer el texto responsivo */
@media (max-width: 576px) {
  .temperature-text {
    font-size: 1.2rem; /* Ajuste de tamaño para pantallas pequeñas */
  }
  .title-label {
    font-size: 1rem; /* Ajuste de tamaño en pantallas pequeñas */
  }
}






