<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>{{mainTitle}}</h1>
      <h6>{{subTitle}}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center ion-no-border">
    <ion-toolbar class="welcomeMessage">
      <ion-title size="large">{{welcomeMessage}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="username" label="Usuario" 
      labelPlacement="floating" fill="outline" class="username" placeholder="Ingresa tu usuario"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-input type="password" [(ngModel)]="password" 
      label="Contraseña" 
      labelPlacement="floating" fill="outline" class="password" placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>
  </ion-list>
  
  <br>
  <ion-button class="centered-button" (click)="validateLogin()" fill="outline">
    Iniciar Sesión
  </ion-button>


  <ion-item-divider>
  <ion-router-link class="centered-link" [routerLink]="['/reset-password']" expand="block" fill="outline">
    Restablecer Contraseña
  </ion-router-link>
  </ion-item-divider>

</ion-content>


