<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color= "light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark">
  <ion-list>
  <ion-item>
    <ion-toggle>
      <ion-label>Recibir notificaciones</ion-label>
      <ion-note color="medium">Desactiva esta opcion en cualquier momento.</ion-note>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list [inset]="true">
  <ion-item>
    <ion-textarea label="Comments" labelPlacement="floating" rows="5"></ion-textarea>
  </ion-item>
</ion-list>
</ion-content>

</ion-content>
